<div class="main">
    <div class="title">
        <h2>Profissional</h2>
    </div>
    <div class="infos">
        <h3>Resumo da minha carreira:</h3>
        <p>{{ data.career_summary }}</p>
    </div>
    <div class="infos">
        <h3>Destaques:</h3>
        <div class="highlights" *ngFor="let highlight in data.highlights">
            <ul>
                <li>
                    <p>{{ highlight }}</p>>
                </li>
            </ul>
        </div>
    </div>
    <div class="infos">
        <h3>Tecnologias:</h3>
        <div class="stacks" *ngFor="let sector in data.stacks">
            <ul *ngFor="let stack in sector">
                <li>
                    <img src={{ stack.img }} alt={{ stack.descriptive_name }}>
                </li>
            </ul>
        </div>
    </div>
</div>