footer mat-toolbar { 
    min-height: 10vh;
    background-color: #eeeeff;
    border-top: 5px solid #ddd;
}

html {
    font-size: 16px;
}

p {
    color: rgb(63, 63, 63);
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
    margin: 0 auto;
}
  