<header class="row d-flex flex-row-reverse">
    <mat-toolbar>
      <mat-toolbar-row class="d-flex justify-content-between align-items-center">
        <div class="logo">
          <a routerLink="" class="d-flex gap-3 justify-content-center">
            <h1>Lucas Czeck</h1>
            <p>Software Developer</p>
          </a>                
        </div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideMenu()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
 </header>
  
<div [ngClass]="{'show': sideMenu}" class="menu col-md-2 col-12 d-flex flex-column">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideMenu()">
        <mat-icon>close</mat-icon>
    </button>
    <a routerLink="" class="text-center h-25 mt-4" (click)="toggleSideMenu()">Home</a>
    <a routerLink="sobremim" class="text-center h-25 mt-4" (click)="toggleSideMenu()">Sobre mim</a>
    <a class="text-center h-25 mt-4" (click)="toggleSideMenu()">Projetos</a>
    <a class="text-center h-25 mt-4 mb-4" (click)="toggleSideMenu()">Contato</a>
</div>