a { 
    text-decoration: none;
    cursor: pointer;
}

header {
    margin-bottom: 10px;
}

header mat-toolbar { 
    min-height: 10vh;
}

html {
    font-size: 16px;
}

h1 {
    color: rgb(63, 63, 63);;
    font-family: fasthand;
    font-size: clamp(0.5rem, 1.5rem + 1vw, 3rem);
}

.logo p {
    color: rgb(63, 63, 63);;
    font-family: fasthand;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1.2rem);
}

header mat-toolbar {
    background-color: white;
    border-bottom: 2px solid #ddd;
}

header button {
    color: black;
    border: none;
    background-color: white;
}

.menu a {
    color: rgb(63, 63, 63);;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #eeeeff;
    font-size: 16px;
    font-size: clamp(0.5rem, 1.5rem + 1vw, 1.5rem);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
.menu button {
    border: None;
}

.show {
    transform: translateX(0) !important;
  }
  