<div class="card d-flex align-items-center flex-wrap">
    <p class="title_card">Commits:</p>
    <div class="d-flex flex-column align-items-center col-12">
        <div class="d-flex row justify-content-between align-items-center col-12">
            <div class="d-flex col-md-4 col-12 justify-content-center">
                <p class="title_content_card">Hoje: <span class="stats_card">{{ cards.today }}</span></p>    
            </div>
            <div class="col-md-4 col-12">
                <app-negative-positive-bar [percentage]="cards.today_percentage"></app-negative-positive-bar>
            </div>
            <div class="d-flex col-md-4 col-12 justify-content-center">
                <p class="title_content_card">Ontem: <span class="stats_card">{{ cards.yesterday }}</span></p> 
            </div>
        </div>
        <div class="d-flex row justify-content-between align-items-center col-12">
            <div class="d-flex col-md-4 col-12 justify-content-center">
                <p class="title_content_card">Na semana: <span class="stats_card">{{ cards.week }}</span></p>    
            </div>
            <div class="col-md-4 col-12">
                <app-negative-positive-bar [percentage]="cards.week_percentage"></app-negative-positive-bar>
            </div>
            <div class="d-flex col-md-4 col-12 justify-content-center">
                <p class="title_content_card">Última semana: <span class="stats_card">{{ cards.last_week }}</span></p> 
            </div>
        </div>
        <div class="d-flex row justify-content-between align-items-center col-12">
            <div class="d-flex col-md-4 col-12 justify-content-center">
                <p class="title_content_card">No mês: <span class="stats_card">{{ cards.month }}</span></p>    
            </div>
            <div class="col-md-4 col-12">
                <app-negative-positive-bar [percentage]="cards.month_percentage"></app-negative-positive-bar>
            </div>
            <div class="d-flex col-md-4 col-12 justify-content-center">
                <p class="title_content_card">Último mês: <span class="stats_card">{{ cards.last_month }}</span></p> 
            </div>
        </div>
        <div class="d-flex row justify-content-between align-items-center col-12">
            <div class="d-flex col-md-4 col-12 justify-content-center">
                <p class="title_content_card">No ano: <span class="stats_card">{{ cards.year }}</span></p>    
            </div>
            <div class="col-md-4 col-12">
                <app-negative-positive-bar [percentage]="cards.year_percentage"></app-negative-positive-bar>
            </div>
            <div class="d-flex col-md-4 col-12 justify-content-center">
                <p class="title_content_card">Último ano: <span class="stats_card">{{ cards.last_year }}</span></p> 
            </div>
        </div>
    </div>
</div>