<div class="summary d-flex flex-column align-items-center">
    <div class="summaryHeader d-flex flex-column align-items-center">
        <div class="photo">
            <img src="assets/img/lucassummary.png" alt="Foto do Lucas">
        </div>
        <div>
            <p class="title">{{ data.title }}</p>
        </div>
    </div>
    <div class="borderSummaryHeader"></div>
    <div class="summaryMain col-12">
        <div class="hardskills">
            <p class="category-title">Hardskills:</p>
            <div *ngFor="let skill of data.hardskills">
              <ul>
                <li>
                  <span class="item-title">{{ skill.descriptive_name }}</span>
                  <br>
                  <ul *ngFor="let subSkill of skill.subskills">
                    <li class="description">{{ subSkill.descriptive_name }}</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        <div class="borderSummaryHeader"></div>
        <div class="softskills">
            <p class="category-title">Softskills:</p>
            <div *ngFor="let skill of data.softskills">
                <ul>
                  <li>
                    <span class="item-title">{{ skill.descriptive_name }}</span>
                  </li>
                </ul>
              </div>
        </div>
        <div class="borderSummaryHeader"></div>
        <div class="experience">
            <p class="category-title">Ultima experiência:</p>
            <div class="company ml-2">
                <p class="description"><span class="item-title">Empresa: </span>{{ data.last_experience.company }}</p>
                <p class="description"><span class="item-title">De: </span> {{ data.last_experience.started | date: 'dd/MM/yyyy'}} <span class="item-title">Até: </span>{{ data.last_experience.end ? (data.last_experience.end | date: 'dd/MM/yyyy') : 'Atual'}}</p>
                <p class="description"><span class="item-title">Cargo: </span>{{ data.last_experience.position }}</p>
                <p class="description"><span class="item-title">Resumo: </span>{{ data.last_experience.description }}</p>
            </div>        
        </div>
    </div>
</div>