<div class="summary d-flex flex-column align-items-center">
    <div class="summaryHeader d-flex flex-column align-items-center">
        <div class="photo">
            <img src="assets/img/lucassummary.png" alt="Foto do Lucas">
        </div>
        <div>
            <p class="title">Fullstack Developer</p>
        </div>
    </div>
    <div class="borderSummaryHeader"></div>
    <div class="summaryMain col-12">
        <div class="hardskills">
            <p class="category-title">Hardskills:</p>
            <ul>
                <li>
                    <span class="item-title">Python</span> 
                    <br>
                    <ul>
                        <li class="description">Django</li>
                        <li class="description">DjangoRest</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="borderSummaryHeader"></div>
        <div class="softskills">
            <p class="category-title">Softskills:</p>
            <ul>
                <li>
                    <span class="item-title">Capacidade de trabalhar em equipe</span>                  
                </li>
            </ul>
        </div>
        <div class="borderSummaryHeader"></div>
        <div class="experience">
            <p class="category-title">Ultima experiência:</p>
            <div class="company ml-2">
                <p class="description"><span class="item-title">Empresa: </span>Inteliger</p>
                <p class="description"><span class="item-title">De: </span>Agosto/2022 <span class="item-title">Até: </span>Atual</p>
                <p class="description"><span class="item-title">Cargo: </span> Desenvolvedor Backend Junior II</p>
            </div>        
        </div>
    </div>
</div>