.company p span {
    font-weight: bold;
}

.company {
    padding-left: 2rem;
}

.borderSummaryHeader {
    border-bottom: 1px solid rgb(63, 63, 63);
    width: 100%;
    margin-bottom: 1rem;
}

.photo img {
    width: 150px;
    height: 150px;
}

.title {
    font-size: 2rem;
}

.category-title {
    font-size: 1.5rem;
}

.item-title {
    font-size: 1.3rem;
}

.description {
    font-size: 1.25rem;
}

.container { 
    background-color: #eeeeff;
    border: 5px solid #ddd;
    border-radius: 2.5%;
}

.summaryHeader {
    margin: 10px;
}