<div class="container d-flex flex-column align-items-center w-25">
    <div class="summaryHeader d-flex flex-column align-items-center">
        <div class="photo">
            <img src="assets/img/lucassummary.png" alt="Foto do Lucas">
        </div>
        <div class="title">
            <p>Fullstack Developer</p>
        </div>
    </div>
    <div class="borderSummaryHeader"></div>
    <div class="summaryMain">
        <div class="hardskills">
            <p>Hardskills:</p>
            <ul>
                <li>
                    Python
                    <br>
                    <ul>
                        <li>Django | DjangoRest</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="softskills">
            <p>Softskills:</p>
            <ul>
                <li>
                    Capacidade de trabalhar em equipe
                </li>
            </ul>
        </div>
        <div class="experience">
            <p>Ultima experiência:</p>
            <div class="company ml-2">
                <p><span>Empresa: </span>Inteliger</p>
                <p><span>De: </span>Agosto/2022 <span>Até: </span>Atual</p>
                <p><span>Cargo: </span> Desenvolvedor Backend Junior II</p>
            </div>        
        </div>
    </div>
</div>