<div class="card d-flex align-items-center gap-3">
    <div class="left d-flex flex-column align-items-center">
        <div class="top">
            <p class="title_card">Commits:</p>
        </div>
        <div class="main">
            <p class="title_content_card">Ontem: <span class="stats_card">0</span></p>
            <p class="title_content_card">Na ultima semana: <span class="stats_card">0</span></p>
            <p class="title_content_card">No mês: <span class="stats_card">0</span></p>
            <p class="title_content_card">No ano: <span class="stats_card">0</span></p>
        </div>
    </div>
</div>