<div class="card d-flex align-items-center gap-1 flex-wrap">
    <p class="title_card">Commits:</p>
    <div class="d-flex row col-12 justify-content-center align-items-center">
        <div class="left d-flex flex-column align-items-center col-md-4 col-12">
            <div class="main">
                <p class="title_content_card">Hoje: <span class="stats_card">0</span></p>
                <p class="title_content_card">Na semana: <span class="stats_card">0</span></p>
                <p class="title_content_card">No mês: <span class="stats_card">0</span></p>
                <p class="title_content_card">No ano: <span class="stats_card">0</span></p>
            </div>
        </div>
        <div class="center d-flex flex-column align-items-center col-md-4 col-12">
            <div class="main col-12">
                <app-negative-positive-bar [percentage]="-50"></app-negative-positive-bar>
                <app-negative-positive-bar [percentage]="-50"></app-negative-positive-bar>
                <app-negative-positive-bar [percentage]="-50"></app-negative-positive-bar>
                <app-negative-positive-bar [percentage]="-50"></app-negative-positive-bar>
            </div>
            
        </div>
        <div class="right d-flex flex-column align-items-center col-md-4 col-12">
            <div class="main">
                <p class="title_content_card">Ontem: <span class="stats_card">0</span></p>
                <p class="title_content_card">Última semana: <span class="stats_card">0</span></p>
                <p class="title_content_card">Último mês: <span class="stats_card">0</span></p>
                <p class="title_content_card">Último ano: <span class="stats_card">0</span></p>
            </div>
        </div>
    </div>
</div>